body {
  padding: 1rem 3rem;
  background-color: teal;
  color: whitesmoke;
}

ul {
  list-style-type: none;
}

ul li {
  border: 1px solid black;
  padding: .5rem;
  margin: .5rem 0;
  border-radius: .5rem;
}

ul li:hover {
  background-color: cyan;
  color: teal;
  font-weight: bold;
  cursor: pointer;
}

input[type="text"] {
  margin: 1rem 0;
}

button {
  margin-right: 1rem;
  background-color: cyan;
  border: none;
  padding: .5rem 1rem;
  font-weight: bold;
  border-radius: .5rem;
}

input[type="checkbox"] {
  display: none;
}

.todo {
  display: flex;
  align-items: center;
}

.todo label {
  color: red;
  font-weight: bold;
  background-color: black;
  padding: .3rem .5rem;
  margin-left: 1rem;
}

.todo label:hover {
  transform: scale(1.1);
}